extends ../layout/main--header-gray

block variables
  - var title = 'ORGANIC COSMETIC | BLOG ARTICLE'
  - var pageClass = 'blog-article-page'

block content
  section.blog-article#blogArticle
    .blog-article__graphic-element--left-top.blog-article__graphic-element
      +img('content/blog-article-graphic-element-left-top', 'png')
    .blog-article__graphic-element--right.blog-article__graphic-element
      +img('content/blog-article-graphic-element-right', 'png')
    .blog-article__graphic-element--center.blog-article__graphic-element
      +img('content/blog-article-graphic-element-center', 'png')
    .blog-article__graphic-element--right-mini.blog-article__graphic-element
      +img('content/blog-article-graphic-element-mini', 'png')
    .blog-article__graphic-element--right-bottom.blog-article__graphic-element
      +img('content/blog-article-graphic-element-bottom-right', 'png')

    .blog-article__graphic-element--center-page.blog-article__graphic-element
      +img('content/blog-article-image-graphic-element', 'png')

    .container
      h1.blog-article__section-title Cras at ornare odio
      .blog-article__body
        .blog-article__body-graphic-element--left.blog-article__graphic-element
          +img('content/violet-dots', 'png')
        .blog-article__date 8 November 2019
        .blog-article__title Nam verear albucius no. Orci natoque penatibus et magnis parturient montes, nascetur ridiculus vestibulum neque.
        .blog-article__content
          p Ad elit legere quo? Quas accusamus percipitur at pri, ei docendi deserunt vim. Ex mel mentitum appareat, cum vidit adipiscing no! Nam ut autem ancillae. Eu qui graeco euripidis voluptaria, eros fierent at mel. Dicit explicari dignissim cu vix. Mazim feugiat fastidii eu per. Semper delicatissimi his eu, error principes sit ei? Purto assum noluisse vis ei, ei ubique doming mea. Modo everti gubergren eu per, ex sit novum probatus scriptorem. At nam vivendo luptatum quaestio, nam option oblique conceptam ex, ut ubique tempor voluptatibus est. Ex commune splendide nec, habeo detracto ne pro. Nobis senserit mei in! Vis te quas inani tation. tollit sed, mei erat idque in!
          p Orci dapibus ultrices in iaculis nunc sed augue lacus viverra. Facilisis leo vel fringilla est ullamcorper. Amet venenatis urna cursus eget. At ultrices mi tempus imperdiet nulla malesuada. Tortor pretium viverra suspendisse potenti nullam ac tortor vitae purus. Scelerisque viverra mauris in aliquam. Consequat semper viverra nam libero justo laoreet. Orci dapibus ultrices in iaculis nunc sed. Morbi non arcu risus quis varius quam quisque id diam. Adipiscing vitae proin sagittis nisl rhoncus. Arcu dui vivamus arcu felis bibendum ut tristique et egestas.
          p At consectetur lorem donec massa sapien. Nunc vel risus commodo viverra maecenas. Quis blandit turpis cursus in hac habitasse platea. Egestas sed sed risus pretium quam vulputate dignissim. Semper eget duis at tellus at urna. Consectetur libero id faucibus nisl. Ut morbi tincidunt augue interdum velit euismod. Sagittis aliquam malesuada bibendum arcu vitae elementum. Rutrum tellus pellentesque eu tincidunt tortor aliquam. Amet volutpat consequat mauris nunc congue. Tincidunt id aliquet risus feugiat in. Urna neque viverra justo nec ultrices dui. Cursus metus aliquam eleifend mi in. Semper eget duis at tellus. Pellentesque elit eget gravida cum sociis natoque penatibus.
          p Gravida cum sociis natoque penatibus et magnis dis parturient. Urna nunc id cursus metus. Mauris augue neque gravida in fermentum et sollicitudin ac orci. Nunc consequat interdum varius sit amet mattis vulputate enim. Elit eget gravida cum sociis. Porta non pulvinar neque laoreet. Tellus at urna condimentum mattis pellentesque id nibh tortor id. Turpis massa tincidunt dui ut. Nunc pulvinar sapien et ligula ullamcorper malesuada proin libero. Pellentesque dignissim enim sit amet venenatis urna cursus eget. In hac habitasse platea dictumst vestibulum rhoncus est.

          .blog-article__content-image
            .blog-article__content-image__graphic-element--first.blog-article__graphic-element
              +img('content/blue-dots-vertical', 'png')
            .blog-article__content-image__graphic-element--second.blog-article__graphic-element
              +img('content/blue-dots-vertical', 'png')
            .blog-article__content-image__inner
              +img('content/1135', 'png')

          p Orci dapibus ultrices in iaculis nunc sed augue lacus viverra. Facilisis leo vel fringilla est ullamcorper. Amet venenatis urna cursus eget. At ultrices mi tempus imperdiet nulla malesuada. Tortor pretium viverra suspendisse potenti nullam ac tortor vitae purus. Scelerisque viverra mauris in aliquam. Consequat semper viverra nam libero justo laoreet. Orci dapibus ultrices in iaculis nunc sed. Morbi non arcu risus quis varius quam quisque id diam. Adipiscing vitae proin sagittis nisl rhoncus. Arcu dui vivamus arcu felis bibendum ut tristique et egestas.
          p At consectetur lorem donec massa sapien. Nunc vel risus commodo viverra maecenas. Quis blandit turpis cursus in hac habitasse platea. Egestas sed sed risus pretium quam vulputate dignissim. Semper eget duis at tellus at urna. Consectetur libero id faucibus nisl. Ut morbi tincidunt augue interdum velit euismod. Sagittis aliquam malesuada bibendum arcu vitae elementum. Rutrum tellus pellentesque eu tincidunt tortor aliquam. Amet volutpat consequat mauris nunc congue. Tincidunt id aliquet risus feugiat in. Urna neque viverra justo nec ultrices dui. Cursus metus aliquam eleifend mi in. Semper eget duis at tellus. Pellentesque elit eget gravida cum sociis natoque penatibus.
          p Gravida cum sociis natoque penatibus et magnis dis parturient. Urna nunc id cursus metus. Mauris augue neque gravida in fermentum et sollicitudin ac orci. Nunc consequat interdum varius sit amet mattis vulputate enim. Elit eget gravida cum sociis. Porta non pulvinar neque laoreet. Tellus at urna condimentum mattis pellentesque id nibh tortor id. Turpis massa tincidunt dui ut. Nunc pulvinar sapien et ligula ullamcorper malesuada proin libero. Pellentesque dignissim enim sit amet venenatis urna cursus eget. In hac habitasse platea dictumst vestibulum rhoncus est.

      .blog-article__link-wrapper
        a(href="javascript:void(0);").blog-article__link back to blog
          .horizontal
          .vertical
block script