extends ../layout/main

block variables
  - var title = 'ORGANIC COSMETIC | HOME PAGE'
  - var pageClass = 'home-page'

block content

  include ../custom/welcome.pug
  include ../custom/section.pug
  include ../custom/section-right.pug
  include ../custom/featured-products.pug
  include ../custom/blog-and-news.pug
  include ../custom/contact.pug
  include ../custom/offer.pug

block script