extends ../layout/main--header-gray

block variables
  - var title = 'ORGANIC COSMETIC | SIGN IN'
  - var pageClass = 'sign-in-page'

block content
  section.auth#signIn
    .auth__graphic-element--right
      +img('content/auth-graphic-element-right-blue', 'png')
    .auth__graphic-element--left-light-blue
      +img('content/auth-graphic-element-left-light-blue', 'png')
    .auth__graphic-element--left
      +img('content/auth-graphic-element-left-blue', 'png')
    .container
      .auth__inner
        .auth__form-wrapper
          h1.auth__title Sign in

          .auth__graphic-element--title
            +img('content/auth-title-graphic-element', 'png')

          form.auth__form
            label.auth__form-label
              span Email
              input(type="text" placeholder="Enter your email").auth__form-input
            label.auth__form-label
              span Password
              input(type="text" placeholder="Enter your password").auth__form-input

            button.auth__form-button Sign in
              .horizontal
              .vertical

          a(href="javascript:void(0);").auth__link Create account

block script