extends ../layout/main--header-gray

block variables
  - var title = 'ORGANIC COSMETIC | PRODUCT PAGE'
  - var pageClass = 'product-page'

block content
  .container.wishlist
    h2.wishlist__title Wishlist
    .wishlist__products

      p.wishlist__products-text There currently are 3 products on your wishlist

      -for(var i=0; i < 3; i++)
        .wishlist__products-product
          .wishlist__products-product-img
            +img('content/385', 'png')
          p.wishlist__products-product-text Cursus turpis
          .wishlist__products-product-prices
           .wishlist__products-product-price $37.99
           .wishlist__products-product-prev-price $50.99
          .wishlist__products-product-btn-wrapper
            button.wishlist__products-product-btn.button-green add to card
            button.wishlist__products-product-exit.exit
              +img('png-icons/icon-exit', 'png')

    .wishlist__products-btn-wrapper
      button.wishlist__products-btn-wrapper-btn Go shop
        .horizontal
        .vertical


    .wishlist__decor-wrapper
      -for(var i=0; i < 3; i++)
        .wishlist__decor-wrapper-blue-dots
          +img('content/vertical-blue-dots', 'png')

      .wishlist__decor-wrapper-purpl-dots
        +img('content/vertical-purpl-dots', 'png')
      .wishlist__decor-wrapper-center-graphic-element
        +img('content/blue-center-graphic-element', 'png')


  .wishlist-purpl-block
  .wishlist-right-graphic-element
    +img('content/green-right-graphic-element', 'png')
  .wishlist-wrapper-blue-dots
    +img('content/vertical-blue-dots', 'png')






block script
