section.contact--wrap
  .contact-sublayout
    .contact__graphic-element
      +img('content/contacts-left-graphic-element', 'png')
    .container
      .contact
        .contact__graphic-element.contact__graphic-element--center
          +img('content/contacts-center-graphic-element', 'png')
        .contact__graphic-element.contact__graphic-element--right
          +img('content/contacts-right-graphic-element', 'png')
        .contact__title Contact
        .contact__infos-wrap
          .contact__infos
            .contact__infos-title Location
            .contact__infos-info Mccall St 102
            .contact__infos-info 1401 Copenhagen
          .contact__infos
            .contact__infos-title Connection
            .contact__infos-info +99 9999 9999
            .contact__infos-info yourdomain@mail.com
          .contact__infos
            .contact__infos-title opening hours
            .contact__infos-info Mn - Fr 09:00 - 17:00
            .contact__infos-info St - Sn 10:00 - 13:00
