section.featured-products--wrap
  .featured-products__graphic-element
    +img('content/dots-petal', 'png')
  .container
    .featured-products
      .featured-products__graphic-element.featured-products__graphic-element--mini
        +img('content/dots-petal-mini', 'png')
      .featured-products__title Featured products
      .featured-products__products

        .swiper-container
          .swiper-wrapper
            -for (var q = 0; q < 3; q++)
              .featured-products__product.swiper-slide
                .featured-products__product-img
                  +img('content/365', 'png')
                .featured-products__product-title first product
                .featured-products__product-prices
                  .featured-products__product-price $20.99
                  .featured-products__product-prev-price $27.99
                button.featured-products__product-button ADD TO CARD
                  .horizontal
                  .vertical

            .featured-products__product.swiper-slide
              .featured-products__product-action
                a(href="#").featured-products__product-link Go shop
                  .horizontal
                  .vertical

        .swiper-pagination
        .swiper-button-prev
        .swiper-button-next



        //- -for (var q = 0; q < 3; q++)
        //-   .featured-products__product.col-3
        //-     .featured-products__product-img
        //-       +img('content/365', 'png')
        //-     .featured-products__product-title first product
        //-     .featured-products__product-prices
        //-       .featured-products__product-price $20.99
        //-       .featured-products__product-prev-price $27.99
        //-     button.featured-products__product-button ADD TO CARD
        //-       .horizontal
        //-       .vertical
