section.offer--wrap
  .container
    .offer.row
      .offer__graphic-element
        +img('content/offer-graphic-element', 'png')
      form.offer__form.col-lg-8.col-xl-6.col-md-12
        .offer__form-title Stay in the loop on our latest special offers
        .offer__form-wrapper
          input(type="text" placeholder="enter email").offer__form-input
          button.offer__form-button Sign up
