section.section--wrap
  .container
    .section.section--right
      .section__graphic-element.section__graphic-element--right
        +img('content/blue-dots', 'png')
      .section__graphic-element.section__graphic-element--right-mini
        +img('content/blue-dots-mini', 'png')
      .section__info
        h2.section__title Nec iudicabit
        p.section__text Quis viverra nibh cras pulvinar mattis nunc sed blandit libero. Nunc lobortis mattis aliquam faucibus purus in. Lobortis elementum nibh tellus molestie nunc non. Congue nisi vitae suscipit tellus mauris a diam maecenas. Vitae proin sagittis nisl rhoncus mattis. Elit sed vulputate mi sit amet.
        button.section__button more info
          .horizontal
          .vertical
      .section__image-wrapper
        .section__image
          +img('content/770', 'png')
        .section__image-substrate
        .section__image-graphic
          +img('content/green-particles-circle', 'png')
        button.section__button more info
          .horizontal
          .vertical