section.section--wrap
  .container
    .section
      .section__graphic-element.section__graphic-element--left
        +img('content/green-dots', 'png')
      .section__info
        h3.section__subtitle Case omnium
        h2.section__title Temporibus in quo?
        p.section__text Magnis dis parturient montes nascetur ridiculus. Quam viverra orci sagittis eu volutpat odio facilisis mauris. Consectetur adipiscing elit duis tristique. Etiam sit amet nisl purus.
        button.section__button more info
          .horizontal
          .vertical
      .section__image-wrapper
        .section__image
          +img('content/1005', 'png')
          .section__image-substrate
          .section__image-graphic
            +img('content/blue-particles-circle', 'png')
        button.section__button more info
          .horizontal
          .vertical