section.shop#shop
    .shop__graphic-element-mini.one
        +img('content/product/shop-mini-green', 'png', 'product-related')
    .shop__graphic-element-blue
        +img('content/product/shop-grass-blue', 'png', 'product-related')
    .container
        .shop__inner
            .shop__graphic-element-mini.two
                +img('content/product/shop-mini-green', 'png', 'product-related')
            .shop__graphic-element-green
                +img('content/product/shop-green', 'png', 'product-related')
            h2.section-title
                | Delenit volumus electram no quo. Has ad sapientem accommodare.
            .shop__items
                .shop__graphic-element-blue-mini
                    +img('content/product/shop-grass-blue-mini', 'png', 'product-related')
                .shop__filters
                    .shop__filters-item
                        .select-categories.select-container#select-categories
                            .select-trigger
                                .select-categories-container.select-container-wrap
                                    .select-categories-value.select-value-item
                                        | All categories
                                span.select-trigger-icon
                                    +icon('drop')
                            input(type="hidden" name='select-categories' value='All categories').select-value
                            .select-dropdown
                                .select-dropdown__item
                                    .select-dropdown__option.active All categories
                                .select-dropdown__item
                                    .select-dropdown__option Category  1
                                .select-dropdown__item
                                    .select-dropdown__option Category  2
                                .select-dropdown__item
                                    .select-dropdown__option Category  3
                                .select-dropdown__item
                                    .select-dropdown__option Category  4
                    .shop__filters-item
                        .select-options.select-container#select-options
                            .select-trigger
                                .select-options-container.select-container-wrap
                                    .select-options-value.select-value-item
                                        | Newest
                                span.select-trigger-icon
                                    +icon('drop')
                            input(type="hidden" name='select-options'  value='Newest').select-value
                            .select-dropdown
                                .select-dropdown__item
                                    .select-dropdown__option.active Newest
                                .select-dropdown__item
                                    .select-dropdown__option Option  1
                                .select-dropdown__item
                                    .select-dropdown__option Option  2
                                .select-dropdown__item
                                    .select-dropdown__option Option  3
                                .select-dropdown__item
                                    .select-dropdown__option Option  4
                .shop__items-wrap
                    .shop__graphic-element-blue-big
                        +img('content/product/shop-blue-big', 'png', 'product-related')
                    .shop__items-wrap-inner
                        .shop__item
                            .shop__item-card
                                .shop__item-card-img
                                    +img('content/product/related-card', 'jpg', 'shop-card')
                                .shop__item-card-title
                                    | magna aliqua
                                .shop__item-card-price-wrap
                                    .shop__item-card-price
                                        | $32.99
                                    .shop__item-card-old-price
                                        | $39.99
                                .shop__item-card-footer
                                    .shop__item-card-btn.button-green  ADD TO CARD
                                    .shop__item-card-favorite.button-lilac
                                        +icon('wishlist')
                        .shop__item
                            .shop__item-card
                                .shop__item-card-img
                                    +img('content/product/related-card', 'jpg', 'shop-card')
                                .shop__item-card-title
                                    | Malesuada proin
                                .shop__item-card-price-wrap
                                    .shop__item-card-price
                                        | $26.99
                                    .shop__item-card-old-price
                                        | $34.99
                                .shop__item-card-footer
                                    .shop__item-card-btn.button-green  ADD TO CARD
                                    .shop__item-card-favorite.button-lilac
                                        +icon('wishlist')
                                .shop__item-decor-elem.one
                        .shop__item
                            .shop__item-card
                                .shop__item-card-img
                                    +img('content/product/related-card', 'jpg', 'shop-card')
                                .shop__item-card-title
                                    | Ridiculus mus mauris
                                .shop__item-card-price-wrap
                                    .shop__item-card-price
                                        | $31.99
                                .shop__item-card-footer
                                    .shop__item-card-btn.button-green  ADD TO CARD
                                    .shop__item-card-favorite.button-lilac
                                        +icon('wishlist')
                                .shop__item-decor-elem.two
                        .shop__item
                            .shop__item-card
                                .shop__item-card-img
                                    +img('content/product/related-card', 'jpg', 'shop-card')
                                .shop__item-card-title
                                    | Cursus turpis
                                .shop__item-card-price-wrap
                                    .shop__item-card-price
                                        | $52.99
                                .shop__item-card-footer
                                    .shop__item-card-btn.button-green  ADD TO CARD
                                    .shop__item-card-favorite.button-lilac
                                        +icon('wishlist')
                        .shop__item
                            .shop__item-card
                                .shop__item-card-img
                                    +img('content/product/related-card', 'jpg', 'shop-card')
                                .shop__item-card-title
                                    | Semper risus
                                .shop__item-card-price-wrap
                                    .shop__item-card-price
                                        | $37.99
                                    .shop__item-card-old-price
                                        | $50.99
                                .shop__item-card-footer
                                    .shop__item-card-btn.button-green  ADD TO CARD
                                    .shop__item-card-favorite.button-lilac
                                        +icon('wishlist')
                            .shop__item-decor-elem.three
                        .shop__item
                            .shop__item-card
                                .shop__item-card-img
                                    +img('content/product/related-card', 'jpg', 'shop-card')
                                .shop__item-card-title
                                    | Proin fermentum leo
                                .shop__item-card-price-wrap
                                    .shop__item-card-price
                                        | $37.99
                                    .shop__item-card-old-price
                                        | $50.99
                                .shop__item-card-footer
                                    .shop__item-card-btn.button-green  ADD TO CARD
                                    .shop__item-card-favorite.button-lilac
                                        +icon('wishlist')
                        .shop__item
                            .shop__item-card
                                .shop__item-card-img
                                    +img('content/product/related-card', 'jpg', 'shop-card')
                                .shop__item-card-title
                                    | Habitasse platea
                                .shop__item-card-price-wrap
                                    .shop__item-card-price
                                        | $22.99
                                    .shop__item-card-old-price
                                        | $39.99
                                .shop__item-card-footer
                                    .shop__item-card-btn.button-green  ADD TO CARD
                                    .shop__item-card-favorite.button-lilac
                                        +icon('wishlist')
                        .shop__item
                            .shop__item-card
                                .shop__item-card-img
                                    +img('content/product/related-card', 'jpg', 'shop-card')
                                .shop__item-card-title
                                    | Congue quisque
                                .shop__item-card-price-wrap
                                    .shop__item-card-price
                                        | $38.99
                                .shop__item-card-footer
                                    .shop__item-card-btn.button-green  ADD TO CARD
                                    .shop__item-card-favorite.button-lilac
                                        +icon('wishlist')
                        .shop__item
                            .shop__item-card
                                .shop__item-card-img
                                    +img('content/product/related-card', 'jpg', 'shop-card')
                                .shop__item-card-title
                                     | Convallis aenean
                                .shop__item-card-price-wrap
                                    .shop__item-card-price
                                        | $16.99
                                .shop__item-card-footer
                                    .shop__item-card-btn.button-green  ADD TO CARD
                                    .shop__item-card-favorite.button-lilac
                                        +icon('wishlist')
                .shop__load-more
                    .shop__graphic-element-line-blue
                        +img('content/product/line-blue', 'png', 'product-related')
                    .shop__graphic-element-line-green
                        +img('content/product/line-green', 'png', 'product-related')
                    .shop__load-more-decor-elem
                    .shop__load-more-btn-elem
                        button(type='button').shop__load-more-btn.link-arrow_right_blue load more
                            span.horizontal
                            span.vertical
