.checkout{
	display: flex;
	flex-wrap: wrap;
	&__title{
		@extend .section__title;
		font-family: "Heebo", sans-serif;
		font-size: 90px;
		margin-top: 188px;
		margin-bottom: 21px;
		width: 100%;
	}

	&__form{
		width: 792px;
		margin-left: auto;
		margin-right: 0;
		&-input{
			@extend .input--white, .sign-in__form-label;
			width: 494px;
			border-radius: 5px;
			background-color: #f5f7ff;
		}
		&-title{
			color: #f5f7ff;
			font-family: $altFont;
			font-size: 50px;
			font-weight: 700;
			line-height: 72px;
			margin-bottom: 49px;
			width: 100%;
		}
		&-personal-information{
			width: 100%;
			box-sizing: border-box;
			padding-top: 62px;
			padding-bottom: 65px;
			background-color: #6f9f4f;
			margin-bottom: 57px;
			padding-left: 148px;
			padding-right: 148px;
		}
		&-address{
			width: 100%;
			box-sizing: border-box;
			padding-top: 60px;
			padding-bottom: 71px;
			background-color: #6f9f4f;
			margin-bottom: 57px;
			padding-left: 148px;
			padding-right: 148px;
		}

		&-custom-select{
			width: 237px;
			position: relative;
			box-shadow: 0 0 3px 3px rgba($baseBlue, 0.16);
			&-title{
				width: 100%;
				@extend .input--white;
				box-sizing: border-box;
				padding-top: 20px;
				padding-left: 21px;
		    border-radius: 5px;
    		background-color: #f5f7ff;
    		cursor: pointer;
			}

			&-body{
				position: absolute;
				background-color: #f5f7ff;
				width: 100%;
				height: auto;
		    left: 0px;
    		top: 80%;
				border-radius: 5px;
				opacity: 0;
				transition: opacity 300ms ease-in;
				// z-index: 1;
				box-sizing: border-box;
				padding-left: 10px;
			}
			&-body--active{
				opacity: 1;
				transition: opacity 300ms ease-out;
			}

			&-list{

			}
			&-option{
				box-sizing: border-box;
				padding: 10px;
				font-size: 18px;
				font-weight: 400;
				text-transform: uppercase;
				letter-spacing: 2.16px;
				line-height: 20px;
				color: #151730;
				font-family: $mainFont;
				cursor: pointer;
				&:hover{
					color: red;
				}
			}
			&-hidden-input{
				display: none;
			}

		}

	}


}