.product {
    margin-top: 140px;

    &__info {
        position: relative;
        padding-top: 70px;
        padding-bottom: 90px;
        margin-bottom: 150px;
        @media(max-width: 1440px) {
            margin-bottom: 40px;
        }
    }
    &__slideshow {
        position: relative;
        z-index: 1;
    }
    .product__pic {
        width: 51%;
        height: 770px;
        overflow: hidden;
        position: relative;
        margin-bottom: 20px;
        @media(max-width: 1440px) {
            height: 493px;
            width: 40%;
        }
        @media(min-width: 1920px){
            width: 770px;
        }
        @media(max-width: 992px) {
            width: 100%;
        }
    }
    &-pic__image {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        -o-object-fit: cover;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    &__main-info {
        background-color: $secondaryBlue;
        padding: 10%;
        padding-left: 32.5%;
        padding-bottom: 35%;
        @media(min-width: 1920px) {
            padding: 148px;
            padding-bottom: 420px;
        }
        @media(max-width: 1440px) {
            padding-bottom: 10%;
        }
        @media(max-width: 992px) {
            padding: 140px 40px 80px
        }
    }
    &__main-info-wrap {
        width: 100%;
        max-width: 1250px;
        position: absolute;
        right: -10%;
        top: 0;
        @media(max-width: 992px) {
           position: static;
           margin-top: -130px;
        }
    }
    &__main-info-inner {
        max-width: 660px;
        margin-left: auto;
        z-index: 2;
        position: relative;
        @media(max-width: 992px) {
            max-width: 100%;
        }
    }
    &__title {
        font-size: 90px;
        line-height: 90px;
        margin-bottom: 40px;
        font-weight: 800;
        color: $baseWhite;
    }
    &__short-descr {
        margin-bottom: 30px;
        p {
            font-family: $mainFont;
            font-weight: 300;
            font-size: 18px;
            line-height: 36px;
            color: $baseWhite;
        }
    }
    &__price {
        font-size: 50px;
        font-weight: 800;
        color:$baseWhite;
        margin-bottom: 55px;
    }
    &__quantity-wrap {
        display: flex;
        align-items: center;
        margin-bottom: 35px;
    }
    &__quantity-text {
        font-size: 24px;
        font-weight: 700;
        margin-right: 15px;
        color: $baseWhite;
        text-transform: uppercase;
    }
    &__quantity {
        font-family: $mainFont;
        width: 60px;
        height: 50px;
        background-color: $baseWhite;
        border-radius: $baseBorderRadius;
        border: 0;
        outline: 0;
        text-align: center;
        color: $baseTextGray;
        font-size: 18px;
    }
    &__thumbnails {
        display: flex;
        margin-left: -10px;
        margin-right: -10px;
    }
    &__thumbnails-item {
        padding-left: 10px;
        padding-right: 10px;
        .thumbnails-pic {
            cursor: pointer;
            width: 110px;
            height: 110px;
            position: relative;
            overflow: hidden;

        }
    }
    .product-thumb__img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        -o-object-fit: cover;
        object-fit: cover;
    }
    .product-thumb__img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
    }
    &__info-btns {
        display: flex;
        align-items: center;
    }
    &__add-to-card  {
        margin-right: 22px;
    }
    &__add-to-favorite  {
        padding: 14px;
        cursor: pointer;
        &:hover {
            color: $baseGreen;
        }
    }
    &__graphic-element-mini, &__graphic-element {
        position: absolute;
        width: 100%;
        height: 100%;
        max-width: 160px;
        max-height: 75px;
        width: 100%;
    }
    &__graphic-element {
        max-width: 205px;
        max-height: 96px;
        right: 0;
        bottom: -43%;
    }
    &__graphic-element-mini {
        right: -34%;
        bottom: 2%;
    }
    &__descr-inner {
        max-width: 1098px;
        margin-left: auto;
        position: relative;
    }
    &__descr-title {
        font-size: 50px;
        line-height: 50px;
        font-weight: 800;
        color: $secondaryBlue;
        margin-bottom: 55px;
    }
    &__descr-text {
        p {
            max-width: 500px;
            font-size: 18px;
            line-height: 36px;
            font-weight: 300;
            font-family: $mainFont;
            color: $baseBlack;
        }
    }
    &__descr-graphic-element-line {
        position: absolute;
        right: 0;
        bottom: -0;
    }
    &__descr-graphic-element-line-green {
        left: -40%;
        position: absolute;
        top: 12%;
    }
    &__descr {
        position: relative;
        margin-bottom: 175px;
    }
    &__related-title {
        font-weight: 800;
        font-size: 50px;
        color: $baseGreen;
        margin-bottom: 80px;
    }
    &__related-card {
        position: relative;
        margin-bottom: 20px;
        .product-related {
            height: 100%;
            max-width: 385px;
            height: 445px;
        }
    }
    &__related-card-img {
        height: 100%;
        margin-bottom: 27px;
    }
    &__related {
        position: relative;
    }
    &__related-card-title {
        font-weight: 700;
        font-size: 24px;
        text-transform: uppercase;
        color: $baseBlack;
        margin-bottom: 15px;
    }
    &__related-card-price-wrap {
        display: flex;
        align-items: center;
        margin-bottom: 22px;
    }
    &__related-card-price {
        margin-right: 20px;
        font-size: 24px;
        font-weight: 300;
        font-family: $mainFont;
        color: $baseGrey;
    }
    &__related-card-old-price {
        font-weight: 300;
        font-family: $mainFont;
        text-decoration: line-through;
        color: $baseGrey;
    }
    &__related-card-btn {
        margin-right: 15px;
        cursor: pointer;
    }
    &__related-card-favorite {
        padding: 12px;
        cursor: pointer;
    }
    &__related {
        max-width: 1100px;
        margin-left: auto;
        position: relative;
        padding-bottom: 80px;
        margin-bottom: 80px;
        &-elem {
            height: 100%;
            width: 100%;
            max-height: 445px;
            max-width: 385px;
            background-color: $baseGreen;
            position: absolute;
            top: 140px;
            right: -375px;
        }
    }
    &__related-btn-prev {
        height: 50px;
        width: 97px;
        background: transparent;
        border-radius: $baseBorderRadius;
        border: 1px solid #ffffff;
        transition: .3s;
        outline: 0 ;
        &:after {
            content: '';
            background: url('../img/svg/right-arrow-white.svg') 50% 50% no-repeat;
            background-size: cover;

        }
    }
    &__related-btn-next {
        height: 50px;
        width: 97px;
        background: transparent;
        border-radius: $baseBorderRadius;
        border: 1px solid #ffffff;
        transition: .3s;
        outline: 0 ;
        &:after {
            content: '';
            background: url('../img/svg/right-arrow-white.svg') 50% 50% no-repeat;
            background-size: contain;
            width: 42px;
            height: 21px;

        }
    }
    &__related-btn-prev {
        display: none;
        &:after {
            content: '';
            background: url('../img/svg/right-arrow-white.svg') 50% 50% no-repeat;
            background-size: contain;
            width: 42px;
            height: 21px;
            transform: rotate(-180deg);
        }
    }
    &__descr-load-more {
        margin-top: 60px;
        display: none;
        @media(max-width: 586px) {
            display: block;
        }
    }
}
.product__related-pagination {
    display: none;
    @media(max-width: 586px) {
        display: block;
    }
}
.product__descr-info {
    display: flex;
}
.product__descr-text {
    margin-right: 90px;
}
.no-margin {
    margin-right: 0;
}
.product .product__thumbnails {
    @media(max-width: 992px) {
        justify-content: center;
    }
}
.product .swiper-button-next, .swiper-container-rtl .swiper-button-prev {
    right: -170px;
    top: 39%;
}
@media(max-width: 1900px) {
    .product__related {
        margin-left: 0;
    }
}
@media(max-width: 1440px) {
    .product__related-elem {
        display: none;
    }
    .product .swiper-button-next, .swiper-container-rtl .swiper-button-prev {
        border: 1px solid $baseBlue;
        right: 0;
        top: 60px;
    }
    .product__related {
        max-width: 100%;
    }
    .product__related-btn-next {
        background: url("../img/png-icons/short_arrow_right.png") 50% 50% no-repeat;
    }
}
@media(max-width: 586px) {
    .product__thumbnails-item .thumbnails-pic {
        max-width: 70px;
        max-height: 70px;
    }
    .product__slideshow, .product__main-info {
        margin-left: -15px;
        margin-right: -15px;
    }
    .product .product__pic {
        max-height: 415px;
        height: 415px;
    }
    .product {
        margin-top: 102px;
        &__info {
            padding-top: 0
        }
    }
    .product__graphic-element-mini, .product__graphic-element {
        display: none;
    }
    .product__title {
        font-size: 50px;
        font-size: 50px;
        margin-bottom: 40px;
    }
    .product__short-descr {
        margin-bottom: 50px;
    }
    .product__add-to-card {
        font-size: 18px;
        padding: 15px 35px;
    }
    .product__descr-title {
        margin-bottom: 90px;
    }
    .product__descr-info {
        flex-wrap: wrap;
    }
    .product__descr-text {
        margin-right: 0;
    }
    .product__descr-graphic-element-line-green {
        left: -22%;
        top: -10%;
    }
    .product__descr-inner {
        padding-left: 30px;
        padding-right: 30px;
    }
    .hide-mobile {
        display: none;
    }
    .product__descr-graphic-element-line {
        bottom: -10%;
    }
}