.sign-in {
  height: 100vh;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
  }

  &__form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 27px;

    &-wrapper {
      background-color: $baseSkyBlue;
      margin-left: auto;
      margin-right: 100px;
      padding: 75px 148px 65px;
      width: 100%;
      max-width: 790px;
    }

    &-label {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-bottom: 24px;

      span {
        color: $baseTextGray;
        font-family: $mainFont;
        font-size: 18px;
        font-weight: 300;
        line-height: 36px;
        letter-spacing: 0.18px;
        margin-bottom: 10px;
      }

      input {
        @extend .input--white;
      }
    }

    &-button {
      @extend .link-arrow_right;
      margin-top: 53px;
    }
  }

  &__link {
    color: $baseGrey;
    font-family: Lato;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.18px;
    @include outline-in-hover($baseGrey);
  }
}