.wishlist{
	position: relative;

	&__title{
		@extend .section__title;
		font-family: "Heebo", sans-serif;
		font-size: 90px;
		margin-top: 188px;
		margin-bottom: 21px;
	}

	&__products{
		width: 899px;
		margin-left: auto;
		margin-right: 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-bottom: 5px;
		&-text{
			margin-bottom: 89px;
			@extend .blog-posts__description;
		}

		&-product{
			width: 385px;
			font-family: "Heebo", sans-serif;
			margin-bottom: 113px;
		
			&:nth-child(3){
				position: relative;
				top: 157px;
			}

			&-img{
				width: 100%;
				height: 387px;
				margin-bottom: 27px;
				position: relative;
				img{
					height: 100%;
					position: absolute;
					left: 50%;
					top: 50%;
					transform: translate(-50%, -50%);
				}
			}
			&-text{
		    color: #151730;
    		font-size: 24px;
    		font-weight: 700;
    		text-transform: uppercase;
    		margin-bottom: 9px;
			}
			&-prices{
				width: 100%;
				display: flex;
				margin-bottom: 20px;
			}
			&-price{
				font-size: 24px;
		    color: #151730;
			}
			&-prev-price{
				margin-left: 20px;
				position: relative;
		    color: #4c4d57;
        font-size: 18px;
        align-self: center;
				&::after{
			    position: absolute;
			    content: '';
			    top: 50%;
			    left: 0;
			    right: 0;
			    border: 1px solid #4b4f6e;
			    -webkit-transform: translateY(-50%);
			    transform: translateY(-50%);
				}
			}

			&-btn-wrapper{
				display: flex;
			}

			&-btn{

			}
			&-exit{
				margin-left: auto;
				margin-right: 0;
				width: 48px;
				height: 48px;
				background-color: unset;
				border: 1px solid ;
				border-radius: 5px;
				display: flex;
				justify-content: center;
				align-items: center;
				img{
					width: 20px;
					height: 19px;
				}
			}
		}

		&-btn-wrapper{
			width: 100%;
			display: flex;
			&-btn{
				margin-left: auto;
				margin-right: 0;
				@extend .link-arrow_right, .link-arrow_right_blue;
			}
		}
	}

	&__decor-wrapper{
		img{
			width: 100%;
		}
		&-blue-dots{
			width: 34px;
			height: 193px;
			position: absolute;
			top: 233px;
			left: 253px;
			z-index: -1;
			&:nth-child(2){
    		top: 1145px;
    		left: 475px;
			}
		}
		&-purpl-dots{
			width: 45px;
			height: 254px;
			position: absolute;
			top: 364px;
			left: 339px;
			z-index: -1;
		}
		&-center-graphic-element{
			width: 187px;
			height: 258px;
			position: absolute;
			right: -53px;
			top: 399px;
			z-index: -1;
		}
	}

	@media screen and (max-width: 1200px){
		&__decor-wrapper{
			&-blue-dots{
				left: 0;
			}
			&-center-graphic-element{
				display: none;
			}
		}
	}

	@media screen and (max-width: 992px){
		&__title{
			text-align: center;
			padding-left: 0;
		}
		&__products{
			width: 100%;
			justify-content: space-around;
			&-text{
				text-align: center;
			}

			&-product{
				width: 340px;
				&:nth-child(3){
					position: static;
				}
			}
		}
		&__decor-wrapper{
			&-blue-dots{
				display: none;
			}
		}
	}

	@media screen and (max-width: 768px){
		&__title{
			text-align: left;
			// font-size: 50px;
			margin-bottom: 54px;
			margin-top: 124px;
			margin-bottom: 34px;
			box-sizing: border-box;
			padding-left: 20px;
		}

		&__products{
			width: 100%;
			margin-bottom: 109px;
			box-sizing: border-box;
			padding-left: 20px;
			padding-right: 20px;
			justify-content: center;
			&-text{
				margin: 0;
				margin-bottom: 79px;
			}
			&-product{
				width: 420px;
				&:last-child{
					margin-bottom: 0;
				}
			}

			&-btn-wrapper-btn{
				margin-bottom: 105px;
				box-sizing: border-box;
				margin-right: 20px;
			}
		}
	}

	@media screen and (max-width: 576px){
		&__products{
			&__text{
				width: 285px;
				font-size: 30px;
				line-height: 40px;
			}
		}
		&__title{
			font-size: 50px;
		}
	}

	@media screen and (max-width: 440px){
		&__products{
			&-text{
				font-size: 36px;
				line-height: 46px;
			}
		}
	}
}

.wishlist-right-graphic-element{
	height: 296px;
	position: absolute;
	top: 1402px;
  left: unset;
  right: 0;
}
.wishlist-purpl-block{
	width: 200px;
	height: 233px;
	background-color: #515690;
	position: absolute;
  top: 1661px;
  left: -20px;
	z-index: -1;
}
.wishlist-wrapper-blue-dots{
	position: absolute;
	width: 45px;
	height: 254px;
	left: 88px;
	top: 1544px;
}

@media screen and (max-width: 1200px){
	.wishlist-purpl-block{
		left: -130px;
	}
	.wishlist-wrapper-blue-dots{
    left: 0;
	}
}

@media screen and (max-width: 992px){
	.wishlist-purpl-block{
    top: 1446px;
		left: -155px;
	}
	.wishlist-wrapper-blue-dots{
		width: 28px;
		height: 193px;
		left: -12px;
    top: 1400px;
	}
	.wishlist-right-graphic-element{
    position: absolute;
    top: 1406px;
    left: unset;
    right: 0;
    height: 129px;
    width: 75px;
    z-index: -1;
	}
	.wishlist__decor-wrapper-purpl-dots{
		width: 34px;
		height: 192px;
		top: 1500px;
    left: 21px;
		z-index: -1;
		display: none;
	}
}

@media screen and (max-width: 576px){
	.wishlist__decor-wrapper-purpl-dots{
		display: block;
		top: 1686px;
    left: 55px;
	}
	.wishlist-purpl-block{
    top: 1116px;
    left: -89px;
	}
	.wishlist-wrapper-blue-dots{
		width: 28px;
		height: 193px;
		left: -12px;
    top: 1082px;
	}
	.wishlist-right-graphic-element{
    top: 1610px;
    transform: scale(.8);
    right: -10px;
	}
	.wishlist__decor-wrapper-purpl-dots{
		left: -18px;
		top: 1500px;
	}
	.wishlist__decor-wrapper-purpl-dots{
		display: none;
	}
}

@media screen and (max-width: 440px){
	.wishlist-purpl-block{
    top: 1044px;
    left: -89px;
	}
	.wishlist-wrapper-blue-dots{
		width: 28px;
		height: 193px;
		left: -12px;
    top: 1014px;
	}
	.wishlist-right-graphic-element{
    top: 1532px;
	}
	.wishlist__decor-wrapper-purpl-dots{
		display: block;
		left: 16px;
		top: 1588px;
	}

}