footer.footer--wrap
  .container
    .footer
      .__content
        nav.__navigation
          .__navigation-title Navigation
          ul.__navigation-list
            li.__navigation-item
              a(href="javascript:void(0);") Home
            li.__navigation-item
              a(href="javascript:void(0);") Blog
            li.__navigation-item
              a(href="javascript:void(0);") Shop
        .__socials
          .__socials-title Socials
          ul.__socials-list
            li.__socials-item
              a(href="javascript:void(0);")
                +icon('whatsapp')
            li.__socials-item
              a(href="javascript:void(0);")
                +icon('messanger')
            li.__socials-item
              a(href="javascript:void(0);")
                +icon('facebook')
      .__copyright 2020 Orgaid all rights reserved