footer.footer--wrap
  .container
    .footer
      .__content
        nav.__navigation
          .__navigation-title Navigation
          ul.__navigation-list
            li.__navigation-item
              a(href="#") Home
            li.__navigation-item
              a(href="#") Blog
            li.__navigation-item
              a(href="#") Shop
        .__socials
          .__socials-title Socials
          ul.__socials-list
            li.__socials-item
              a(href="#")
                //- +img('png-icons/whatsapp', 'png')
                +icon('whatsapp')
            li.__socials-item
              a(href="#")
                //- +img('png-icons/messenger', 'png')
                +icon('messanger')
            li.__socials-item
              a(href="#")
                //- +img('png-icons/facebook', 'png')
                +icon('facebook')
      .__copyright 2020 Orgaid all rights reserved