header.header--wrap.header--grey
  .container
    .header
      a(href="javascript:void(0);").__logo
        +img('general/logo-blue', 'png')

      .__menu
        include menu

      .__navigation
        .__navigation-input
          input(type="text" placeholder="Search")
          +icon('search-grey')
        button.__navigation-button.search
          +icon('search-grey')
        button.__navigation-button
          +icon('wishlist-grey')
        button.__navigation-button
          +icon('account-grey')
        button.__navigation-button
          +icon('shop-grey')

        .__navigation-burger
          span