include ../mixins
block variables

doctype html
html(lang="en-US")
  include head
  body(class=pageClass)
    include ../modules/menuGlobal
    .wrapper
      include ../modules/header-grey
      .content
        block content
      include ../modules/footer
      //include ../modules/menuGlobal
    //- SCRIPTS links DEV
    script(src="static/js/libs.min.js?v=" + Math.floor(Math.random() * (999 - 2) + 1))
    script(src="static/js/main.min.js?v=" + Math.floor(Math.random() * (999 - 2) + 1))
    //- SCRIPTS links PROD
      script(src="static/js/libs.min.js")
      script(src="static/js/main.min.js")
    block script